h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  background-color: #F3F6FC;
  color: #000000;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-small {
  max-width: 1074px;
  margin: 0 auto;
}

.hero_title {
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 128px;
  line-height: 156px;
  letter-spacing: 0.055em;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin: 0px 0px 20px 0px;
}

.title.center {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 40px 0px;
}

.subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.small {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.primary {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.link {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.link:hover {
  color: #2D63F0;
}

.owl-dots {
  margin: 30px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.owl-dots .owl-dot {
  margin-right: 25px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #c4c4c4 !important;
}

.owl-dots .owl-dot.active {
  background: #2D63F0 !important;
}

.btn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 185px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #2D63F0;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

.btn svg {
  margin: 0px 0px 0px 13px;
}

.btn:hover {
  background-color: #294EAE;
}

.btn:active {
  background-color: #0D2768;
}

.header {
  padding: 40px 0;
}

.header .header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header_container .logo {
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

.header .header_container .logo::before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: '';
  position: absolute;
  right: -17px;
  bottom: 5px;
  width: 15px;
  height: 15px;
  background: #2D63F0;
  border-radius: 0px 7.5px 0px 0px;
}

.header .header_container .logo:hover {
  color: #FFFFFF;
}

.header .header_container .logo:hover::before {
  width: 110%;
  height: 24px;
  bottom: 0px;
  right: -5px;
  z-index: -1;
}

.footer {
  background: #404040;
  height: 120px;
}

.footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 0px 0px 0px;
}

.footer p, .footer a {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer a {
  text-decoration: none;
  color: #2D63F0;
}

.project__inner {
  max-width: 1200px;
  margin: 0px 0px 75px 0px;
  background: #FFFFFF;
  border-radius: 0px 0px 94px 0px;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

.project__inner img {
  margin: 0px 0px 42px 0px;
}

.project__inner .project__text {
  max-width: 400px;
  padding: 0px 0px 34px 34px;
}

.hero {
  padding: 60px 0px 0px 0px;
  margin: 0px 0px 189px 0px;
}

.hero h1 {
  margin: 0px 0px 105px 0px;
}

.hero .hero_subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero_subtitle img {
  margin: 0px 15px 0px 0px;
}

.section {
  margin: 0px 0px 100px 0px;
}

.section .section_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section .section_container img {
  margin: 0px 50px 0px 0px;
}

.section .section_container .section_content {
  width: 600px;
}

.section .section_container.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.section .section_container.reverse img {
  margin: 0px 0px 0px 50px;
}

.carousel {
  margin: 20px 0px 0px 0px;
  width: 100%;
}

.card {
  width: 491px;
  height: 622px;
  background: #FFFFFF;
  border-radius: 0px 0px 100px 0px;
}

.card .card__img {
  margin: 0px 0px 21px 0px;
}

.card .card__content {
  padding: 0px 0px 30px 30px;
}

.card .card__content .card__title {
  margin: 0px 0px 15px 0px;
}

.card .card__content .card__text {
  max-width: 404px;
}

.gallery {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 36.91px;
  grid-row-gap: 21px;
}

.gallery .div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
}

.gallery .div2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.gallery .div3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.gallery .div4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 3 / 4;
}

.gallery .div5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1 / 4 / 2 / 5;
}

.gallery .div6 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 2 / 4 / 3 / 5;
}

.word_hero {
  margin: 0px 0px 45px 0px;
}

.word_content {
  margin: 0px 0px 75px 0px;
}

.word_container img {
  margin: 0px 0px 45px 0px;
}

.word_container p {
  font-size: 18px;
  line-height: 145%;
  margin: 0px 0px 15px 0px;
}
