.footer {
    background: $dark;
    height: 120px;

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 48px 0px 0px 0px;
    }

    p,a {
        font-family: 'Montserrat Alternates';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: $white;
    }

    a {
        text-decoration: none;
        color: $mainblue;
    }
}